@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track{
    background: #ff66ff;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(rgba(4, 4, 64, 1) 5%,rgb(20, 0, 255) 100%);
    border-radius: 10px;
}
body {
    cursor: none;
}
*{
    scroll-behavior: smooth;
}